# Virtual Environment
venv/
.venv/
env/
venv_build/
*_venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Rust & Tauri
target/
**/target/
Cargo.lock
**/node_modules/
.tauri/

# Compiled Artifacts
*.so
src/pam/*.so

# Project Specific
config/*.npy
config/users/
models/
signatures/
/run/linux-bonjour/

# Build Artifacts
*.deb
pkg/
pkg_build/
linux-bonjour_*.deb

# System/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.bak