[Desktop Entry]
Name=Linux Bonjour
Comment=AI Face Recognition for Linux
Exec=linux-bonjour
Icon=linux-bonjour
Terminal=false
Type=Application
Categories=Settings;Security;Utility;
Keywords=Face;Unlock;Security;Biometric;
StartupNotify=true
StartupWMClass=linux-bonjour-gui
GenericName=Biometric Unlock
X-GNOME-Autostart-enabled=true
