insightface
opencv-python
PySide6
onnxruntime
numpy
psutil
requests
matplotlib
scikit-learn
scikit-image
albumentations
tqdm
prettytable
packaging
typing-extensions
annotated-types
pydantic
pydantic-core
typing-inspection
mpmath
sympy
networkx
imageio
tifffile
lazy-loader
joblib
threadpoolctl
kiwisolver
pyparsing
python-dateutil
charset-normalizer
urllib3
wcwidth
ml-dtypes
onnx
