[Unit]
Description=Linux Bonjour Face Recognition Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/kawishika/Documents/Projects/linux-bonjour
ExecStart=/home/kawishika/Documents/Projects/linux-bonjour/venv/bin/python src/daemon/main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
